.common_section{
    background: linear-gradient(rgba(78, 65, 65, 0.171), rgba(119, 98, 60, 0.678)), 
url("../assets/foo.jpg");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 80px 0px;

}